.mainContainer{
    /* border:1px solid blue; */
    margin:2rem 5rem 2rem 5rem
}
.headerTitle{
    text-shadow:1px 1px 1px black;
    font-size:2rem;
    font-weight:bold;
    margin-bottom:1.5rem;
}

form{
    /* border:2px solid blue; */
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.searchBox{
    /* border:1px solid black; */
    font-size:1.2rem;
    padding:0.3rem;
    margin:0rem 1rem 1rem 0rem;
}

button{
    /* border:1px solid black; */
    font-size:1.1rem;
    width:5rem;
    margin:0rem 1rem 1rem 0rem;
}

@media (max-width:950px){
    .mainContainer{
        /* border:1px solid blue; */
        margin:2rem 5rem 2rem 1rem;
        overflow:hidden;
    }
    img{
        width:50%;
    }
}