.App{
  /* border:2px solid black; */
  margin:1em;
  /* padding:1em; */
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
}

.groceryList{
  /* border:1px solid green; */
  margin:1em;
  width:50%;
}
label{
  /* border:1px solid black; */
  padding: 1em 1em 1em 0em;
}

.textDescription{
  /* border:1px solid green; */
  font-size:0.8em;
  font-weight: bold;
  margin-bottom:0.2em;
}

input[type="text"]{
  width:80%;
  font-size:1.1em;
}

.groceryItem{
  border-bottom:1px solid black;
  display:flex;
  flex-direction: column;
  padding:0.5em;
}
.addButton{
  margin-top:0.5em;
  font-size:1em;
}

.removeButton{
  /* border:1px solid blue; */
  width:8em;
  align-self: flex-end;
}