.App{
  /* border:1px solid black; */
  margin:1em;
  display: grid;
  justify-content: center;
  padding:1em;
}

label{
  /* border:1px solid black; */
  justify-content: center;
  padding: 1em 1em 1em 0em;
}
input[type="text"]{
  width:100%;
}
.groceryItem{
  border-bottom:1px solid black;
}